<html>
    <head>
        <title>Mi sitio</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<body>
 

        <header>
            
                <nav>
                    <p>Mi Api rest</p>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                           <a href="/canciones/crear"> Crear Cancion</a>
                        </li>
                        <li>
                           <a href="/canciones">Ver Canciones</a> 
                        </li>
                        <li>
                           <a href="/generos">Ver generos</a> 
                        </li>
                    </ul>
                </nav>
        </header>